.Gnss {
    hr {
        background-color: $background-color;
        border: none;
        border-top: 2px dashed $light-filler;
    }

    .Map {
        border-radius: 10px;
        overflow: hidden;
        height: 55vh;
        background-color: $light-filler;
    }

    .Variables {
        margin-top: 0.5em;
        margin-bottom: 2em;
    }

    .FloatWide {
        padding: 0.5em;
        width: 30%;
        display: inline-block;
        vertical-align: top;
        margin: 0.15em;
        border-radius: 10px;
        padding-right: 1.25em;

        p {
            font-family: 'Roboto Mono', monospace;
            font-weight: 500;
            color: $heavy-text;
            font-size: 3em;
            margin: 0em;
            width: 100%;
            text-align: right;
        }

        h5 {
            font-size: 0.90em;
            font-weight: 600;
            color: $light-text;
            margin: 0;
            width: 100%;
            text-align: right;
        }
    }

    .FloatWide:hover {
        background-color: $light-filler;
        cursor: pointer;
    }

    .FloatNarrow {
        @extend .FloatWide;
        width: 22%;
    }

    .FloatTiny {
        @extend .FloatWide;
        width: 13%;
    }

    button {
        @extend .Unbuttonfy;
        cursor: pointer;
        width: 8em;
        height: 2.5em;
        font-weight: 700;
        font-size: 1em;
        color: #594F55;
        background-color: #DBDFE5;
        border: none;
        border-radius: 0.75em;
        margin-right: 1em;
        margin-top: 1em;
        transition: all 0.05s ease-in-out;
    }

    .Small {
        width: 6em;
    }

    .Active {
        color: white;
        background-color: #493E44;
        transition: all 0.05s ease-in-out;
    }
}